@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    @apply bg-red-200/50;
}

.h-screen-nextra {
    height: calc(100vh - var(--nextra-navbar-height)) !important;
}

.h-screen-nextra-last {
    height: calc(100vh - var(--nextra-navbar-height) - theme('spacing.10'));
}

:is([tabindex]:not([tabindex="-1"]):focus-visible) {
    --tw-ring-opacity: 0 !important;
    --tw-ring-color: transparent !important;
    --tw-ring-offset-color: transparent !important;
}