__benchmarks__
_SpecRunner.html
.DS_STORE
.env
.flowconfig
.grunt
.idea
.module-cache
.swc/plugins/v4/39e77f182717b0adf8ef81cb7c1a7540fa5a2c931097a4a6299440e6198cfdca
.turbo
.turbo/*
.vscode
*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
build/
chrome-user-data
coverage/
dist/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules
remote-repo/
scripts/flow/*/.flowconfig
test-runner-profile
test/the-files-to-test.generated.js
_pagefind/