@import "tailwindcss";
@source "../../../packages/ui/dist";
@source "@creation-ui/react";
@import '@creation-ui/react/index.css';
@import '@creation-ui/react/theme.css';

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Manrope', 'sans-serif';
  --font-mono: 'Fira Code', 'monospace';
}

html {
  @apply scroll-smooth font-sans;
}

body {
  @apply font-sans antialiased text-text-primary border-border;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.micro-interactions {
  @apply transition-all duration-300 ease-snappy;
}

.link {
  @apply text-primary underline;
}

.link:hover {
  @apply text-primary/80;
}