@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import "tailwindcss";
@source "../../../packages/ui/dist";
@source "@creation-ui/react";
@import '@creation-ui/react/index.css';
@import '@creation-ui/react/theme.css';

@variant dark (&:where(.dark, .dark *));



:root {
  --text-primary: theme(colors.black);
  --text-secondary: theme(colors.neutral.600);
  --background-primary: theme(colors.white);
  --background-secondary: theme(colors.neutral.50);
  --border: theme(colors.neutral.200);

  @variant dark {
    --text-primary: theme(colors.neutral.100);
    --text-secondary: theme(colors.neutral.300);
    --background-primary: theme(colors.neutral.800);
    --background-secondary: theme(colors.neutral.700);
    --border: theme(colors.neutral.800);
  };


}


html {
  @apply scroll-smooth;
}

body {
  @apply font-sans antialiased
  /* text-[var(--text-primary)] bg-[var(--background-primary)] */
  ;
  /* @apply border-[var(--border)]; */
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.micro-interactions {
  @apply transition-all duration-300 ease-snappy;
}