@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@plugin "tailwindcss-debug-screens" {
  className: 'debug-screens';
  position: 'top, left';
  prefix: 'screen: ';
}
@source './';
@source "../../packages/ui/dist";
@source "@creation-ui/react";
@import '@creation-ui/react/index.css';
@import '@creation-ui/react/theme.css';


@variant dark (&:where(.dark, .dark *));


:root {
  --text-secondary: oklch(45% 0 0);
  --border: theme(colors.gray.200);

  @variant dark {
    --text-secondary: oklch(80% 0 0);
    --border: theme(colors.gray.700);
  }
}

@theme {
  --font-sans: 'Manrope', 'sans-serif';
  --font-ibm: 'IBM Plex Sans', 'sans-serif';
}

html {
  @apply scroll-smooth font-sans;
}

body {
  @apply font-sans antialiased text-text-primary border-border bg-background-primary;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.micro-interactions {
  @apply transition-all duration-300 ease-in-out;
}

.link {
  @apply text-primary;
}

.link:hover {
  @apply text-primary/80;
}

.link-discrete {
  @apply transition-all duration-300 ease-in-out;
}

.link-discrete:hover {
  @apply text-primary/80;
}