:root {
  --text-primary: oklch(0 0 0);
  --text-secondary: oklch(0.556 0 0);
  --background-primary: oklch(0.990 0 0);
  --background-secondary: oklch(0.985 0 0);
  --border: oklch(0.87 0 0);
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  @variant dark {
    --text-primary: oklch(0.97 0 0);
    --text-secondary: oklch(0.87 0 0);
    --background-primary: oklch(0.269 0 0);
    --background-secondary: oklch(0.371 0 0);
    --border: oklch(0.350 0 0);
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.3);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -4px rgb(0 0 0 / 0.3);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px rgb(0 0 0 / 0.3);
  }
}

@theme {
  /* FONT */
  --font-sans: "Manrope", "sans-serif";
  --font-mono: "Fira Code", "monospace";

  /* COLOR */
  --color-primary: oklch(60.48% 0.2165 257.21);
  --color-warning: oklch(77.97% 0.1665 72.45);
  --color-error: oklch(66.16% 0.2249 25.88);
  --color-success: oklch(75.14% 0.1514 166.5);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-border: var(--border);


  /* ANIMATIONS */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* SIZES */
  --ui-height: 40px;
  --ui-icon-height: calc(var(--ui-height) * 0.5);

  /* Z-INDEX */
  --ui-z-base: 0;
  --ui-z-dropdowns: 200;
  --ui-z-tooltips: 400;
  --ui-z-overlays: 500;
  --ui-z-drawers: 600;
  --ui-z-modals: 700;
  --ui-z-notifications: 800;
}