@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-nextra {
  height: calc(100vh - var(--nextra-navbar-height)) !important;
}

.h-screen-nextra-last {
  height: calc(100vh - var(--nextra-navbar-height) - theme('spacing.10'));
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply !bg-background-primary text-text-primary;
    text-rendering: optimizeLegibility;
  }
}
